@import url('https://fonts.googleapis.com/css?family=BenchNine&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'BenchNine', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* ///// Header ///// */
.headerDiv{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.headerImg{
  width: 200px;
  margin: 25px;
}

.title{
  margin: 25px 0 0 0;
  font-size: 4rem;
  color: #000000;
  text-shadow: 0px 0px 10px rgba(255, 160, 1, 1);
}

.is-active{
  text-decoration: none;
  font-size: 2rem;
  color: #000000;
  text-shadow: 0px 0px 10px rgba(255, 160, 1, 1);
}

ul{
  list-style-type: none;
}

li{
  float: left;
  margin: 41px;
}

.link{
  text-decoration: none;
  font-size: 2rem;
  color: #000000;
}
/* ///// Header ///// */ 

/* ///// Index ///// */

.indexDiv{
  width: 100vw;
}

.pIndex{
  text-align: center;
}

.imgIndex{
  display: flex;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
/* ///// Index ///// */

/* ///// Characters ///// */
.characters{
  margin: 0 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
/* ///// Characters ///// */

/* ///// Character ///// */
.cardCharacter{
  margin: 10px;
}

.nameCharacter{
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  color: #000000;
}

.characterImg{
  width: 300px;
}
/* ///// Character ///// */

/* ///// Detail Character ///// */
.detailCharacterName{
  text-align: center;
  font-size: 2rem;
  color: #000000
}

.detailCharacterImg{
  display: flex;
  justify-content: center;
  height: 400px;
}

.detailCharacterDescription{
  text-align: center;
}
/* ///// Detail Character ///// */

/* ///// Comics ///// */
.comics{
  margin: 0 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
/* ///// Comics ///// */

/* ///// Comic ///// */
.cardComic{
  margin: 10px;
}

.comicName{
  width: 100px;;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  color: #000000;
}

.comicImg{
  width: 500px;
}
/* ///// Comic ///// */

/* ///// Detail Comic ///// */
.detailComicName{
  text-align: center;
  font-size: 2rem;
  color: #000000
}

.detailComicImg{
  display: flex;
  justify-content: center;
  height: 400px;
}

.detailComicDescription{
  text-align: center;
}
/* ///// Detail Comic ///// */